.button {
  cursor: pointer;
  display: flex;
  transition: background-color .3s ease-in-out;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;

  &:focus {
    outline: none;
  }

  @media #{$mobile}{
    font-size: 13px;
    margin: 0 auto;
  }
  @media #{$tablet-mobile} {
    margin: 0 auto;
  }
}

.button--red {
  background-color: $red;
  padding: 15px;

  &:hover {
    background-color: darken($red, 5%);
  }
}

.busket_btn {
  width: 100px;
}